
services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  app:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - mongo
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app  # optional for local dev hot reload

volumes:
  mongo_data: